
<% their_name = chat[:participants].reject { |p| p.user.id == @user.id }.map { |p| p.user.firstname }.first %></p>

<span class="websocket"></span>
<div id="abovechat">you're chatting with <span class="accent"><%= their_name %></span class="them"> for the day! time remaining: <span id="timeleft"><%= @end_time.getutc.strftime("%Y-%m-%dT%H:%M:%SZ") %></span></div>
<div id="chat">
  <% chat[:messages].each do |message| %>
    <% if message.chatter_id == @my_chatter.id %>
      <div class="i-say"><span><%= message.text %></span></div>
    <% else %>
      <div class="they-say"><span><%= message.text%></span></div>
    <% end %>
  <% end %>
</div>
<div id="inputbox">
  <div id="input" contenteditable="true"></div>
  <div id="input-placeholder">say something...</div>
</div>
