<!DOCTYPE HTML>
<html>
  <head>
    <link href="main.css" type="text/css" rel="stylesheet" /> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="main.js"></script>
    <meta name="google-signin-client_id" content="490228363423-f7vl11uqaq71o27akoejaeievd3d8gan.apps.googleusercontent.com" />
  </head>
  <body>
    <div id="bar"> 
      <span id="title">
        <img id="logo" src="/img/logo.png" />
        <span>daily<span class="accent">human</span>club</span>
      </span>
      <span id="signin">
        <div id="avatar"></div>
        <span class="g-signin2" data-onsuccess="onSignIn"></span>
        <a id="signout" href="#" onclick="signOut()"></a>
      </span>
    </div>

    <%= yield %>

  </body>
</html>
