<span class="websocket"></span>
<div class="block">
  <div class="headline">We're looking for someone to chat with...</div>
  <div class="words">
  This may take a few minutes, depending on how many people are looking for someone to talk to. The page will refresh automatically when a chat has been found. You can also close out of this page if you need to- we'll have a chat waiting for you when you return!</div>
</div>

