<div id="chat">
  <div class="they-say"><span>hey, what's up?</span></div>
  <div class="i-say"><span>nm.</span></div>
  <div class="they-say"><span>seriously?</span></div>
  <div class="they-say"><span>this is going to be a long 24 hours..</span></div>
</div>
<div id="inputbox">
  <div id="input" contenteditable="true"></div>
  <div id="input-placeholder">say something...</div>
</div>
