<div class="block">
  <div class="headline">Feeling lonely? Meet someone new!</div>
  <div class="words">dailyhumanclub is a free chat roulette app for people who need some company to get them through the day.</div>
</div>
<div class="block alt">
  <div class="headline">People who are stuck together stay together</div>
  <div class="words">
    Too often are potential friendships nipped in the bud due to bad first impressions. Sometimes people are shy and take time to warm up. Sometimes they don't know what to say. Maybe their ice-breaker falls flat, or maybe they're just in a bad mood. In the age of social networks and dating apps, it's all too tempting to move on to the next profile when someone doesn't immediately click.</div>
  <div class="words">
    We at DHC decided to rock the boat by creating a chat roulette that pairs users and keeps them paired for a 24 hours. We believe this will encourage users to dig deeper with their conversations, to break down walls and really go out of their way to find common ground. Because at the end of the day, we're all human here.</div>
</div>
<div class="block">
  <div class="headline">Giving you a full suite of friendship tools</div>
  <div class="words">Typical chat apps offer limited communication tools- basic text with bold and italics can only go so far. Voice and Video chat are sometimes available, but these can feel needlessly vulnerable or intimate when meeting a stranger for the first time. DHC provides users with a full suite of tools for sharing and expressing: queue up your favorite songs in a synced playlist, giving you a shared soundtrack for the day; watch videos together in real time, with a synced pause button and inline chat; inspire your conversation with prompts from DHC and earn points for each topic you tackle; or maybe just doodle together in the synced coloring board. DHC is more than a chat roulette, it's a virtual hangout.
  </div>
</div>

