
html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: #005171;
  font-family: sans-serif;
  
  display: flex;
  flex-direction: column;
}

.websocket {
  display: none;
}

#content {
  background-color: #f0f0f0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  flex-grow: 1;
}

.block {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 2em;
}

.block.alt {
  background-color: #cbddff;
}

.headline {
  margin-bottom: 0.5em;
}


.words {
  font-size: 1.3em;
  margin-bottom: 1.0em;
}

.headline {
  font-size: 2.5em;
}

#bar {
  padding: 10px;
  /*border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #bbddff;*/
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 999;
}

#avatar {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
}

#avatar img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

#signin {
  display: inline-block;
  float: right;
  font-size: 44px;
}

#signin .g-signin2 {
  display: inline-block;
  vertical-align: middle;
}

#signout {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 40px;
  background-image: url("/img/signout.png");
}

#signout:hover {
  background-image: url("/img/signout_h.png");
}

#title {
  display: inline-block;
  font-size: 44px;
  font-family: sans-serif;
}

.accent {
  color: #00a2e8;
}

#logo {
  display: inline-block;
  vertical-align: middle;
}

#chat {
  height: 70%;
  overflow-y: scroll;
  margin-top: 20px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #bbddff;
  background-color: #eef5ff;
}

#chat div {
  margin: 10px;
}

#chat div.i-say {
  text-align: right;
}

#chat div span {
  display: inline-block;
  max-width: 80%;
  padding: 5px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #eeeeee;
  border-radius: 5px;
}

#chat .i-say span {
  color: #00a2e8;
  border-color: #00a2e8;
  background-color: #ddeeff;
}

#abovechat, #chat, #inputbox {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#inputbox {
  position: relative;
  width: 70%;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #aaaaaa;
}

#input-placeholder {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}

#input {
  min-height: 1em;
  padding: 10px;
}

#input:focus {
  outline: none;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #00a2e8;
}

#timeleft {
  color: #e88700;
}
